spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:file:./db/bokslstock_db
    username: boksl_user
    password: boksl_pw
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        use_sql_comments: false
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  mvc:
    static-path-pattern: /static/**

server:
  port: 8083

logging.level:
  org.hibernate.SQL: error
#  org.hibernate.type: trace

com:
  setvect:
    bokslstock:
      koreainvestment:
        # 엑세스 키: 환경 변수 또는 직접 입력
        appkey: ${APPKEY}
        # 보안 키: 환경 변수 또는 직접 입력
        appsecret: ${APPSECRET}
        trade:
          url: https://openapi.koreainvestment.com:9443
        ws:
          url: ws://ops.koreainvestment.com:21000
        vbs:
          accountNo: ${ACCOUNTNO}
          # 총 현금을 기준으로 투자 비율. 1은 전액, 0.5은 50% 투자
          investRatio: 0.5
          stock:
            - code: "069500"
              stayGapRise: false
              k: 0.2
              investmentRatio: 0.5
            - code: "091170"
              stayGapRise: false
              k: 0.2
              investmentRatio: 0.5

      restTemplate:
        connectionTimeoutMs: 5000
        readTimeoutMs: 5000

      slack:
        # 이벤트 발생시 슬랙메시지 전달 여부
        # 만약 슬렉 메시지를 받고 싶지 않으면 false로 셋팅 후 항목 token, channelId 값을 비워둠
        enable: false
        # 'xoxb'로 시작하는 슬렉 App oAuth Key
        token:
        # 메시지 전달 채널 ID
        channelId:
